Mule/2_Get_REST/src/main/mule/2_Get_REST.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="346fc456-3184-4c8b-954e-01b29d18df26" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<flow name="2_Get_RESTFlow" doc:id="2f833c80-17df-41a6-bec3-69bda4456bf1" >
		<http:listener doc:name="/GET REST" doc:id="f05f8b90-8fe1-4e72-937d-501e07eefce0" config-ref="HTTP_Listener_config" path="/getREST"/>
		<logger level="INFO" doc:name="Logger" doc:id="ada4313d-2859-4dcf-a788-7966db01990d" message='"Get method invoked."'/>
		<set-variable value="1" doc:name="Set Variable" doc:id="148ca57a-8bbb-4832-b7b1-12ea0a2abb4b" variableName="testVar"/>
		<logger level="INFO" doc:name="Logger" doc:id="672b5db2-73da-4bbf-946d-e6f5dfee7b07" message='"Value of test var is : " #[vars.testVar]'/>
	</flow>
</mule>
